* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: rgb(207, 250, 250);
}


section {
  display: flex;
  margin-top: 50px;
  padding: 50px 5%;
  gap: 50px;
}

.left-image{
  flex: 1;
  background-image: url(./Assets/about\ image.jpg);
  width: 500;
  height: 700;
  background-size: cover;
  background-position: center;
}

.right-side{
  flex: 1;
}



.SDG-text h1, .container h1{
  font-size: 36px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 10px;
}

.SDG-text h5, .container h5{
  font-size: 18px;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 5px;
  line-height: 34px;
}

.SDG-text p, .container p{
  font-size: 18px;
  font-weight:400;
  font-style: normal;
  margin-bottom: 10px;
  line-height: 34px;
}

@media screen and (max-width: 768px) {
    section {
      flex-direction: column;
      padding: 20px;
    }
    .left-image, .right-side {
      width: 100%;
      height: auto;
    }
    .left-image {
      width: 100%;
      height: 300px;
    }
  }