* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Arial', sans-serif;
    background: #f9f9f9;
}

/*section layout*/

.up-section {
    text-align: center;
}

.up-section h1 {
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    margin-bottom: 10px;
}
.up-section p {
    font-size: 18px;
    font-weight: 500;
    color: #666;
    margin-bottom: 40px;
}

.Gen-sec{
    padding: 50px 5%;
    margin-top: 90px ;
}

.contact-sectio {
    display: flex;
    padding: 50px 5%;
    margin: auto;
}



/*left side - Contact Info*/
.contact-lef {
    background-color: #25794A;
    color: white;
    padding: 50px;
    border-radius: 10px;
    width: 50%;
    height: 650px;
}


.contact-lef h2 {
    margin-bottom: 10px;
    font-size: 28px;
}

.contact-lef p {
    margin-bottom: 90px;
    font-size: 18px;
}

.contact-lef ul {
    list-style: none;
    margin-bottom: 25px;
}

.contact-lef li {
    margin-bottom: 50px;
    font-size: 16px;
}



/*Right Side - Form*/
.contact-right {
    width: 80%;
    height: 600px;
    padding: 30px;
    background-color: rgb(250, 250, 250);
}

.contact-right h1 {
    font-size: 26px;
    margin-bottom: 10px;

}

.contact-right p {
    margin-bottom: 25px;
    color: #444;
    font-size: 15px;
}

.row {
    display: grid;
    padding: 50px 0;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 20px;
    margin-bottom: 15px;
}

.row input,
.row textarea {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.subject {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    justify-content: space-around;
}

.subject input {
    padding: 10px;
}

.subjects label {
    margin-right: 20px;
    font-size: 14px;
}

.send {
     margin-top: 20px;
    background-color: #226e4f;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.contact-right textarea {
    margin-top: 30px;
    width: 100%;
    height: 180px;
    border-radius: 5px;
    padding: 10px;
}

.send:hover {
    background-color: #1a5a3b;

}

/*Responsive*/
@media (max-width: 768px) {
    .Gen-sec {
        flex-direction: column;
    }

    form .row {
        flex-direction: column;
    }
}
