/* Property page  */

/* HERO SECTION */
.property-hero {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
}

.property-hero h2 {
    font-size: 34px;
    font-weight: 700;
}

.property-hero p {
    font-size: 15px;
    margin-top: 5px;
}

/* FILTER SECTION */
.property-filter {
    display: flex;
    justify-content: space-between;
    padding: 10px 7%;
    margin-top: 20px;
    align-items: center;

}

.blur {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1);
    border-radius: 40px;

}

.filter-left {
    display: flex;
    gap: 10px;
}

.filter-left select {
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #c4c4c4;
    width: 300px;
    outline: none;
}

.filter-btn {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background: #0e6b3c;
    color: white;
}

.view-map {
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* PROPERTY GRID */
.property-grid {
    padding: 40px 8%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: auto;
}

/* PROPERTY CARD */
.property-card {
    background: white;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #eee;
}

.prop-img {
    width: 100%;
    height: 160px;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-bottom: 10px;
}

.prop-img.img1 {
    background-image: url('Assets/house1.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img2 {
    background-image: url('Assets/house2.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img3 {
    background-image: url('Assets/house3.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img4 {
    background-image: url('Assets/house4.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img5 {
    background-image: url('Assets/house5.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img6 {
    background-image: url('Assets/house6.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img7 {
    background-image: url('Assets/house7.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img8 {
    background-image: url('Assets/house8.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img9 {
    background-image: url('Assets/house9.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img10 {
    background-image: url('Assets/house10.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img11 {
    background-image: url('Assets/house11.jpg');
    background-size: cover;
    background-position: center;
}
.prop-img.img12 {
    background-image: url('Assets/house12.jpg');
    background-size: cover;
    background-position: center;
}


.verified {
    font-size: 13px;
    color: green;
    margin-bottom: 5px;
}

.property-card h3 {
    font-size: 16px;
    font-weight: 700;
}

.location {
    font-size: 13px;
    margin: 5px 0;
}

.features span {
    font-size: 13px;
}

.price {
    margin: 10px 0;
    font-size: 17px;
    font-weight: 700;
}

.details-btn {
    display: inline-block;
    padding: 6px 15px;
    border-radius: 20px;
    border: 1px solid #0e6b3c;
    color: #0e6b3c;
    text-decoration: none;
    font-size: 13px;
}

/* MOBILE */


@media (max-width: 900px) {
    .property-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    .property-grid {
        grid-template-columns: 1fr;
    }

    .property-filter {
        flex-direction: column;
        gap: 10px;
    }

    .filter-left {
        width: 100%;
        justify-content: center;
    }

    .filter-left select {
        width: 100%;
    }
}